In [1]:
import pandas as pd
import numpy as np

from datetime import datetime
%matplotlib inline
pd.set_option("display.max_rows", 500)

In [3]:
data_path_1= r"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
pd_raw = pd.read_csv(data_path_1)

In [4]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/29/22,6/30/22,7/1/22,7/2/22,7/3/22,7/4/22,7/5/22,7/6/22,7/7/22,7/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,182403,182528,182594,182643,182724,182793,182793,182979,183084,183221
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,280298,280851,281470,282141,282690,282690,282690,283811,284758,285731
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,266073,266087,266105,266115,266128,266173,266173,266181,266202,266228
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,43774,43774,44177,44177,44177,44177,44177,44671,44671,44671
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,101320,101320,101320,101320,101320,101320,101320,101320,101320,101320

In [5]:
time_idx = pd_raw.columns[4:]

In [6]:
df_plot = pd.DataFrame({"date": time_idx})
df_plot.head()

      date
0  1/22/20
1  1/23/20
2  1/24/20
3  1/25/20
4  1/26/20

In [7]:
pd_raw["Country/Region"]

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                            Antarctica
6                   Antigua and Barbuda
7                             Argentina
8                               Armenia
9                             Australia
10                            Australia
11                            Australia
12                            Australia
13                            Australia
14                            Australia
15                            Australia
16                            Australia
17                              Austria
18                           Azerbaijan
19                              Bahamas
20                              Bahrain
21                           Bangladesh
22                             Barbados
23                              Belarus
24                              Belgium
25                               Belize
26                                Benin
27                               Bhutan
28                              Bolivia
29               Bosnia and Herzegovina
30                             Botswana
31                               Brazil
32                               Brunei
33                             Bulgaria
34                         Burkina Faso
35                                Burma
36                              Burundi
37                           Cabo Verde
38                             Cambodia
39                             Cameroon
40                               Canada
41                               Canada
42                               Canada
43                               Canada
44                               Canada
45                               Canada
46                               Canada
47                               Canada
48                               Canada
49                               Canada
50                               Canada
51                               Canada
52                               Canada
53                               Canada
54                               Canada
55                               Canada
56             Central African Republic
57                                 Chad
58                                Chile
59                                China
60                                China
61                                China
62                                China
63                                China
64                                China
65                                China
66                                China
67                                China
68                                China
69                                China
70                                China
71                                China
72                                China
73                                China
74                                China
75                                China
76                                China
77                                China
78                                China
79                                China
80                                China
81                                China
82                                China
83                                China
84                                China
85                                China
86                                China
87                                China
88                                China
89                                China
90                                China
91                                China
92                                China
93                             Colombia
94                              Comoros
95                  Congo (Brazzaville)
96                     Congo (Kinshasa)
97                           Costa Rica
98                        Cote d'Ivoire
99                              Croatia
100                                Cuba
101                              Cyprus
102                             Czechia
103                             Denmark
104                             Denmark
105                             Denmark
106                    Diamond Princess
107                            Djibouti
108                            Dominica
109                  Dominican Republic
110                             Ecuador
111                               Egypt
112                         El Salvador
113                   Equatorial Guinea
114                             Eritrea
115                             Estonia
116                            Eswatini
117                            Ethiopia
118                                Fiji
119                             Finland
120                              France
121                              France
122                              France
123                              France
124                              France
125                              France
126                              France
127                              France
128                              France
129                              France
130                              France
131                              France
132                               Gabon
133                              Gambia
134                             Georgia
135                             Germany
136                               Ghana
137                              Greece
138                             Grenada
139                           Guatemala
140                              Guinea
141                       Guinea-Bissau
142                              Guyana
143                               Haiti
144                            Holy See
145                            Honduras
146                             Hungary
147                             Iceland
148                               India
149                           Indonesia
150                                Iran
151                                Iraq
152                             Ireland
153                              Israel
154                               Italy
155                             Jamaica
156                               Japan
157                              Jordan
158                          Kazakhstan
159                               Kenya
160                            Kiribati
161                        Korea, North
162                        Korea, South
163                              Kosovo
164                              Kuwait
165                          Kyrgyzstan
166                                Laos
167                              Latvia
168                             Lebanon
169                             Lesotho
170                             Liberia
171                               Libya
172                       Liechtenstein
173                           Lithuania
174                          Luxembourg
175                          MS Zaandam
176                          Madagascar
177                              Malawi
178                            Malaysia
179                            Maldives
180                                Mali
181                               Malta
182                    Marshall Islands
183                          Mauritania
184                           Mauritius
185                              Mexico
186                          Micronesia
187                             Moldova
188                              Monaco
189                            Mongolia
190                          Montenegro
191                             Morocco
192                          Mozambique
193                             Namibia
194                               Nepal
195                         Netherlands
196                         Netherlands
197                         Netherlands
198                         Netherlands
199                         Netherlands
200                         New Zealand
201                         New Zealand
202                           Nicaragua
203                               Niger
204                             Nigeria
205                     North Macedonia
206                              Norway
207                                Oman
208                            Pakistan
209                               Palau
210                              Panama
211                    Papua New Guinea
212                            Paraguay
213                                Peru
214                         Philippines
215                              Poland
216                            Portugal
217                               Qatar
218                             Romania
219                              Russia
220                              Rwanda
221               Saint Kitts and Nevis
222                         Saint Lucia
223    Saint Vincent and the Grenadines
224                               Samoa
225                          San Marino
226               Sao Tome and Principe
227                        Saudi Arabia
228                             Senegal
229                              Serbia
230                          Seychelles
231                        Sierra Leone
232                           Singapore
233                            Slovakia
234                            Slovenia
235                     Solomon Islands
236                             Somalia
237                        South Africa
238                         South Sudan
239                               Spain
240                           Sri Lanka
241                               Sudan
242                Summer Olympics 2020
243                            Suriname
244                              Sweden
245                         Switzerland
246                               Syria
247                             Taiwan*
248                          Tajikistan
249                            Tanzania
250                            Thailand
251                         Timor-Leste
252                                Togo
253                               Tonga
254                 Trinidad and Tobago
255                             Tunisia
256                              Turkey
257                                  US
258                              Uganda
259                             Ukraine
260                United Arab Emirates
261                      United Kingdom
262                      United Kingdom
263                      United Kingdom
264                      United Kingdom
265                      United Kingdom
266                      United Kingdom
267                      United Kingdom
268                      United Kingdom
269                      United Kingdom
270                      United Kingdom
271                      United Kingdom
272                      United Kingdom
273                      United Kingdom
274                      United Kingdom
275                             Uruguay
276                          Uzbekistan
277                             Vanuatu
278                           Venezuela
279                             Vietnam
280                  West Bank and Gaza
281                Winter Olympics 2022
282                               Yemen
283                              Zambia
284                            Zimbabwe
Name: Country/Region, dtype: object

In [8]:
Country_list = ["Italy", "India", "US"]
for each in Country_list:
    df_plot[each]=np.array(pd_raw[pd_raw["Country/Region"] == each].iloc[:,4::].sum(axis=0))

In [10]:
time_idx = [datetime.strptime(each , "%m/%d/%y") for each in df_plot.date]
time_str = [each.strftime('%Y-%m-%d') for each in time_idx]

In [11]:
df_plot["date"]= time_idx
type(df_plot["date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv',sep=';',index=False)

# Relational Data model

In [13]:
data_path_2 = r"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
pd_raw = pd.read_csv(data_path_2)
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/29/22,6/30/22,7/1/22,7/2/22,7/3/22,7/4/22,7/5/22,7/6/22,7/7/22,7/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,182403,182528,182594,182643,182724,182793,182793,182979,183084,183221
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,280298,280851,281470,282141,282690,282690,282690,283811,284758,285731
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,266073,266087,266105,266115,266128,266173,266173,266181,266202,266228
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,43774,43774,44177,44177,44177,44177,44177,44671,44671,44671
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,101320,101320,101320,101320,101320,101320,101320,101320,101320,101320

In [15]:
pd_data_base = pd_raw.rename(columns= {"Country/Region": "country", "Province/State": "state"})
pd_data_base["state"]= pd_data_base["state"].fillna("no")
pd_data_base= pd_data_base.drop(["Lat","Long"], axis =1)
pd_data_base.head()

,state,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/29/22,6/30/22,7/1/22,7/2/22,7/3/22,7/4/22,7/5/22,7/6/22,7/7/22,7/8/22
0,no,Afghanistan,0,0,0,0,0,0,0,0,...,182403,182528,182594,182643,182724,182793,182793,182979,183084,183221
1,no,Albania,0,0,0,0,0,0,0,0,...,280298,280851,281470,282141,282690,282690,282690,283811,284758,285731
2,no,Algeria,0,0,0,0,0,0,0,0,...,266073,266087,266105,266115,266128,266173,266173,266181,266202,266228
3,no,Andorra,0,0,0,0,0,0,0,0,...,43774,43774,44177,44177,44177,44177,44177,44671,44671,44671
4,no,Angola,0,0,0,0,0,0,0,0,...,101320,101320,101320,101320,101320,101320,101320,101320,101320,101320

In [16]:
pd_relational_model=pd_data_base.set_index(['state','country']) \
                                .T                              \
                                .stack(level=[0,1])             \
                                .reset_index()                  \
                                .rename(columns={'level_0':'date',
                                                   0:'confirmed'},
                                                  )
pd_relational_model.head()

      date                         state         country  confirmed
0  1/22/20                       Alberta          Canada        0.0
1  1/22/20                      Anguilla  United Kingdom        0.0
2  1/22/20                         Anhui           China        1.0
3  1/22/20                         Aruba     Netherlands        0.0
4  1/22/20  Australian Capital Territory       Australia        0.0

In [17]:
pd_relational_model.dtypes

date          object
state         object
country       object
confirmed    float64
dtype: object

In [20]:
pd_relational_model["date"] = pd_relational_model.date.astype("datetime64[ns]")
pd_relational_model.confirmed=pd_relational_model.confirmed.astype(int)

In [21]:
pd_relational_model.to_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',index=False)